<app-header></app-header>
<!-- <div ng-include src="'views/common/header_logged_in.html'"></div> -->

<!--body of the page-->

<!-- <div ng-include src="'views/common/header_logged_in.html'"></div> -->

<div class="container filter-box" [hidden]="a" style="margin-top: 5%">
    <div class="row divPadding">
        <div class="col-md-3 col-md-offset-9">
            <a href="#" routerLink="/filtercust" routerLinkActive="active"><button class="btn btn-primary" >Create New</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Search</h4>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <label>Principal Contact</label>
        </div>

    </div> -->
    <div class="row">
        <div class="col-md-4">
            <label>Reference</label>
            <input type="text" class="form-control custom-form-control">
        </div>
        <div class="col-md-4">
            <label>Name/Description</label>
            <input type="text" class="form-control custom-form-control">
        </div>
        <div class="col-md-4">
            <label>Principal Contact</label>
            <input type="text" class="form-control custom-form-control">
        </div>
    </div>
    <br/>
    <div class="row"></div>
    <div class="row">
        <table class="table table-striped toWide">
            <tr>
                <th class="textAlignleft textAlignleftWide">Reference</th>
                <th class="textAlignleft2 textAlignleft2Wide">Name/Description</th>
                <th style="text-align: left">Principal Contact</th>
            </tr>
            <tr *ngFor="let post of customer1" ng-class=" customer.customerId == selectedItem ? 'filter-selected-row' : ''" (click)="open3(customer)">
                <td style="text-align: left">{{post.customerId}} </td>
                <td style="text-align: left;">{{post.customerName}} </td>
                <td style="text-align: left">{{post.contactName1}} </td>
            </tr>
        </table>
    </div>
    <div align="center" class="filter-pagination-container">
        <button class="btn btn-sm btn-success">First</button>&nbsp;&nbsp;
        <button class="btn btn-sm btn-success">Back</button>&nbsp;&nbsp; &nbsp;&nbsp;
        <button class="btn btn-sm btn-success">Next</button> &nbsp;&nbsp;
        <button class="btn btn-sm btn-success">Last</button>
    </div>
    <br>
    <!-- <div class="row" ng-if="!transactionCmd">
        <div class="col-md-1">
            <a href="#" ui-sref=".view">
                <button ng-hide="selectedItem === null" class="btn btn-primary" (click)="viewCustomer()" style="width:100px;">View</button>
            </a>
        </div>
        <div class="col-md-offset-9 col-md-1">
            <a href="#" ui-sref=".update">
                <button ng-hide="selectedItem === null || selectedItem === 'Approved'" class="btn btn-primary" (click)="updateCustomer()" style="width:100px;">Update</button>
            </a>
        </div>
    </div> -->

    <div class="row" ng-if="transactionCmd">
        <div class="col-md-3">
            <a href="#" ui-sref=".update">
                <button ng-class="{'disableButton': transactionCmd === 'update'}" ng-disabled="disableReview1 || selectedID === null || transactionCmd!='update'" class="btn btn-primary" (click)="updateCustomer()" style="width:100px;">Update</button>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" ui-sref=".view">
                <button ng-class="{'disableButton': transactionCmd === 'review'}" ng-disabled="disableReview1 || selectedID === null || transactionCmd!='review'" class="btn btn-primary" (click)="viewCustomer()" style="width:100px;">Review</button>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" ui-sref=".view">
                <button ng-class="{'disableButton': transactionCmd === 'approve'}" ng-disabled="disableReview1 || selectedID === null || transactionCmd!='approve'" class="btn btn-primary" (click)="viewCustomer()" style="width:100px;">Approve</button>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" ui-sref=".view">
                <button ng-class="{'disableButton': transactionCmd === 'enquiry'}" ng-disabled="selectedID === null || transactionCmd!='enquiry'" class="btn btn-primary" (click)="viewCustomer()" style="width:100px;">Enquiry</button>
            </a>
        </div>
    </div>

</div>
<div style="float:center; width: 100%" ng-mesage=""></div>
<!-- <div ng-include src="'views/common/footer_logged_in.html'"></div> -->
<router-outlet></router-outlet>

<!--/.container-->

<!-- <div ng-include src="'views/common/footer_logged_in.html'"></div> -->


<app-footer></app-footer>