<div class="tab-pane active" id="main_page">
    <form name="bank_form" novalidate>
        <div style="margin-top:20px;width:100%;">
            <div class="row">
                <fieldset ng-disabled="disableAll">
                    <h6 class="small-heading">Bank</h6>
                    <div class="col-md-5 col-sm-12 col-xs-12 two-blocks">
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Bank ID:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" class="form-control mandatory custom-form-control" id="bankIdName" name="bankIdName" [(ngModel)]="bank.bankId" autofocus required maxlength="20" ng-pattern="/^[0-9a-zA-Z]*$/" ng-blur="checkAvailability()" ng-disabled="transactionMode == 'update'">
                                <div *ngIf="bankAlreadyExisted" style="color:red;"> Record with the same ID Already Exists</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">BIC Code:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" user-guide class="form-control mandatory custom-form-control" name="bicCodeName" [(ngModel)]="bank.bicCode" required maxlength="12" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Bank Name:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" user-guide class="form-control mandatory custom-form-control" name="bankName" maxlength="35" [(ngModel)]="bank.bankName" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Correspondent:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <select class="form-control mandatory custom-form-control" user-guide id="correspondent" name="correspondentName" [(ngModel)]="bank.correspondent">
                         <option value="">--Select--</option>
                         <option value="Yes">Yes</option>
                         <option value="No">No</option>
                         </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="bank.correspondent == 'Yes'">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Nostro A/C No:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" user-guide class="form-control mandatory custom-form-control" id="nostroAc" name="nostroAcName" type="text" maxlength="20" [(ngModel)]="bank.nostroAcNumber" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Bank Address:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" user-guide class="form-control mandatory custom-form-control" id="bankAddress1" type="text" name="bankAddress1" maxlength="35" [(ngModel)]="bank.bankAddress1" required>
                                <input type="text" user-guide class="form-control mandatory custom-form-control" name="bankAddress2" id="bankAddress2" [(ngModel)]="bank.bankAddress2" />
                                <input type="text" user-guide class="form-control mandatory custom-form-control" name="bankAddress3" id="bankAddress3" [(ngModel)]="bank.bankAddress3" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 two-blocks second-two-block">
                        <div class="form-group">
                            <p><strong class="paddingLeftbankLabels">Exposure in Home CCY</strong></p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Import LC</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" user-guide class="form-control custom-form-control " id="importLcId" type="text" name="importLcName" [(ngModel)]="bank.importLc" maxlength="20" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Export LC</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" user-guide class="form-control custom-form-control" id="exportLcId" name="exportLcName" type="text" [(ngModel)]="bank.exportLc" required maxlength="20" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Guarantee</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" user-guide class="form-control custom-form-control" id="guaranteeId" name="guaranteeName" type="text" [(ngModel)]="bank.guarantee" required maxlength="20" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row btn_fix">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit" (click)="saveAndExit();">Save and Exit</button>
                    <button class="btn btn-success" type="submit" (click)="finish()">Finish</button>
                    <button class="btn btn-warning" type="button" *ngIf="transactionMode=='create' || transactionMode=='update' || transactionCmd=='update'" ng-click="reactyFy()" id="Rectify">Rectify</button>
                    <button *ngIf="transactionMode==='view'" class="btn btn-success" ng-click="GoToNextTab();" id="nextTab">Next</button>
                    <a class="btn btn-warning" id="Close" [routerLink]="['/dashboard']" ui-sref="home">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
<router-outlet></router-outlet>