<nav class="navbar navbar-default bottom-nav">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" href="#"><img [src]="'../assets/images/logo/fintra-logo.png'"> Version 1.0</span>
            <span class="navbar-brand" href="#">Last login at what time</span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="" tooltip-placement="top" ngbTooltip="Helpline number"><a href="#">1800-xxxx-xxxx Helpline</a></li>
            <li class="" tooltip-placement="top" style="color:#feff00;" ngbTooltip="Logout"><a href="#" (click)="logout();">Logout</a></li>
            <li tooltip-placement="top" ngbTooltip="Change theme">
                <a (click)="showThemePicker();">Themes</a>
            </li>
            <!-- <li tooltip-placement="top" ngbTooltip="User guide">
                        <a (click)="enableUserGuide();" style="font-size:22px;">
                            <div class="light">
                                <i class="fa" [ngClass]="isUserGuideEnabled ? 'fa-lightbulb-o bulb-on' : 'fa-question'" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li> -->
        </ul>
    </div>

</nav>