<div class="tab-pane active" id="main_page">
    <form name="currencycode_form" novalidate>
        <div style="margin-top:20px;width:100%;">
            <div class="row">
                <fieldset ng-disabled="disableAll">
                    <h6 class="small-heading">Currency Code</h6>
                    <div class="col-md-5 col-sm-12 col-xs-12 two-blocks">
                        <!-- <div class="form-group" [hidden]="true">
                                <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">S No:</label>
                                <div class="col-lg-7 col-sm-5 col-xs-12">
                                    <input type="text" class="form-control mandatory custom-form-control" id="sno" name="sno" [(ngModel)]="country.sno">
                                </div>
                            </div> -->
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Currency Code:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" class="form-control mandatory custom-form-control" id="currencyCode" name="currencyCode" [(ngModel)]="currency.currencyCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Currency Name:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" class="form-control mandatory custom-form-control" id="currencyName" name="currencyName" type="text" [(ngModel)]="currency.currencyName">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row btn_fix">
                <div class="col-md-12">
                    <a class="btn btn-warning" (click)="cancel();">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>




























<!-- <div class="tab-pane active" id="main_page">
    <form name="currencycode_form" novalidate>
        <div style="margin-top:20px;width:100%;">
            <div class="row">
                <fieldset ng-disabled="disableAll">
                    <h6 class="small-heading">Currency Code</h6>
                    <div class="col-md-5 col-sm-12 col-xs-12 two-blocks">
                       
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Currency Code:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" class="form-control mandatory custom-form-control" id="currencyCode" name="currencyCode" [(ngModel)]="currency.currencyCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Currency Name:</label>
                            <div class="col-lg-7 col-sm-5 col-xs-12">
                                <input type="text" class="form-control mandatory custom-form-control" id="currencyName" name="currencyName" type="text" [(ngModel)]="currency.currencyName">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row btn_fix">
                <div class="col-md-12">
                    <a class="btn btn-warning" (click)="cancel();">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div> -->